// TAILWIND CSS COLOR
$COLOR_WHITE: #fff;
$COLOR_BLACK: #000;
$COLOR_STONE_50: oklch(0.985 0.001 106.423);
$COLOR_STONE_100: oklch(0.97 0.001 106.424);
$COLOR_STONE_200: oklch(0.923 0.003 48.717);
$COLOR_STONE_300: oklch(0.869 0.005 56.366);
$COLOR_STONE_400: oklch(0.709 0.01 56.259);
$COLOR_STONE_500: oklch(0.553 0.013 58.071);
$COLOR_STONE_600: oklch(0.444 0.011 73.639);
$COLOR_STONE_700: oklch(0.374 0.01 67.558);
$COLOR_STONE_800: oklch(0.268 0.007 34.298);
$COLOR_STONE_900: oklch(0.216 0.006 56.043);
$COLOR_STONE_950: oklch(0.147 0.004 49.25);
$COLOR_CYAN_50: oklch(0.984 0.019 200.873);
$COLOR_CYAN_100: oklch(0.956 0.045 203.388);
$COLOR_CYAN_200: oklch(0.917 0.08 205.041);
$COLOR_CYAN_300: oklch(0.865 0.127 207.078);
$COLOR_CYAN_400: oklch(0.789 0.154 211.53);
$COLOR_CYAN_500: oklch(0.715 0.143 215.221);
$COLOR_CYAN_600: oklch(0.609 0.126 221.723);
$COLOR_CYAN_700: oklch(0.52 0.105 223.128);
$COLOR_CYAN_800: oklch(0.45 0.085 224.283);
$COLOR_CYAN_900: oklch(0.398 0.07 227.392);
$COLOR_CYAN_950: oklch(0.302 0.056 229.695);
$COLOR_ROSE_50: oklch(0.969 0.015 12.422);
$COLOR_ROSE_100: oklch(0.941 0.03 12.58);
$COLOR_ROSE_200: oklch(0.892 0.058 10.001);
$COLOR_ROSE_300: oklch(0.81 0.117 11.638);
$COLOR_ROSE_400: oklch(0.712 0.194 13.428);
$COLOR_ROSE_500: oklch(0.645 0.246 16.439);
$COLOR_ROSE_600: oklch(0.586 0.253 17.585);
$COLOR_ROSE_700: oklch(0.514 0.222 16.935);
$COLOR_ROSE_800: oklch(0.455 0.188 13.697);
$COLOR_ROSE_900: oklch(0.41 0.159 10.272);
$COLOR_ROSE_950: oklch(0.271 0.105 12.094);

// THEME COLOR
$COLOR_BACKGROUND: $COLOR_STONE_100;
$COLOR_BACKGROUND_ACCENT: $COLOR_STONE_50;
$COLOR_BACKGROUND_MUTED: $COLOR_STONE_300;
$COLOR_BORDER: $COLOR_STONE_300;
$COLOR_BORDER_HOVER: $COLOR_STONE_400;
$COLOR_TEXT: $COLOR_STONE_950;
$COLOR_TEXT_SOFT: $COLOR_STONE_600;

$COLOR_PRIMARY: $COLOR_CYAN_500;
$COLOR_PRIMARY_BACKGROUND: $COLOR_CYAN_100;
$COLOR_PRIMARY_BACKGROUND_ACCENT: $COLOR_CYAN_300;
$COLOR_PRIMARY_TEXT: $COLOR_CYAN_800;
$COLOR_PRIMARY_TEXT_SOFT: $COLOR_CYAN_600;
