@use 'sass:color';

// TAILWIND CSS COLOR
$COLOR_WHITE: #fff;
$COLOR_BLACK: #000;

$COLOR_STONE_50: rgba(251, 251, 250, 1);
$COLOR_STONE_100: rgba(247, 247, 246, 1);
$COLOR_STONE_200: rgba(231, 229, 228, 1);
$COLOR_STONE_300: rgba(214, 211, 209, 1);
$COLOR_STONE_400: rgba(168, 162, 158, 1);
$COLOR_STONE_500: rgba(120, 113, 108, 1);
$COLOR_STONE_600: rgba(87, 83, 78, 1);
$COLOR_STONE_700: rgba(68, 64, 60, 1);
$COLOR_STONE_800: rgba(41, 37, 36, 1);
$COLOR_STONE_900: rgba(28, 25, 23, 1);
$COLOR_STONE_950: rgba(12, 10, 9, 1);
$COLOR_CYAN_50: rgba(236, 254, 255, 1);
$COLOR_CYAN_100: rgba(207, 250, 254, 1);
$COLOR_CYAN_200: rgba(165, 243, 252, 1);
$COLOR_CYAN_300: rgba(103, 232, 249, 1);
$COLOR_CYAN_400: rgba(34, 211, 238, 1);
$COLOR_CYAN_500: rgba(6, 182, 212, 1);
$COLOR_CYAN_600: rgba(8, 145, 178, 1);
$COLOR_CYAN_700: rgba(14, 116, 144, 1);
$COLOR_CYAN_800: rgba(21, 94, 117, 1);
$COLOR_CYAN_900: rgba(22, 78, 99, 1);
$COLOR_CYAN_950: rgba(8, 51, 68, 1);
$COLOR_ROSE_50: rgba(255, 241, 242, 1);
$COLOR_ROSE_100: rgba(255, 228, 230, 1);
$COLOR_ROSE_200: rgba(254, 205, 211, 1);
$COLOR_ROSE_300: rgba(253, 164, 175, 1);
$COLOR_ROSE_400: rgba(251, 113, 133, 1);
$COLOR_ROSE_500: rgba(244, 63, 94, 1);
$COLOR_ROSE_600: rgba(225, 29, 72, 1);
$COLOR_ROSE_700: rgba(190, 18, 60, 1);
$COLOR_ROSE_800: rgba(159, 18, 57, 1);
$COLOR_ROSE_900: rgba(136, 19, 55, 1);
$COLOR_ROSE_950: rgba(76, 5, 25, 1);

// THEME COLOR
$COLOR_BACKGROUND: $COLOR_STONE_100;
$COLOR_BACKGROUND_ACCENT: $COLOR_STONE_50;
$COLOR_BACKGROUND_MUTED: $COLOR_STONE_300;
$COLOR_BORDER: $COLOR_STONE_300;
$COLOR_BORDER_HOVER: $COLOR_STONE_400;
$COLOR_TEXT: $COLOR_STONE_950;
$COLOR_TEXT_SOFT: $COLOR_STONE_600;

$COLOR_PRIMARY: $COLOR_CYAN_500;
$COLOR_PRIMARY_BACKGROUND: color.scale($COLOR_CYAN_100, $lightness: 10%);
$COLOR_PRIMARY_BACKGROUND_ACCENT: $COLOR_CYAN_300;
$COLOR_PRIMARY_TEXT: $COLOR_CYAN_800;
$COLOR_PRIMARY_TEXT_SOFT: $COLOR_CYAN_600;

$COLOR_ERROR: $COLOR_ROSE_500;
$COLOR_ERROR_BACKGROUND: $COLOR_ROSE_50;
$COLOR_ERROR_TEXT: $COLOR_ROSE_500;
$COLOR_ERROR_TEXT_SOFT: $COLOR_ROSE_800;
