@import './theme-color.scss';

// media query
$MEDIA_MIN_WIDTH_TABLET: 600px;
$MEDIA_MIN_WIDTH_DESKTOP: 1025px;

// typography
$FONT_SIZE_SMALL: 12px;
$FONT_SIZE_MEDIUM: 16px;
$FONT_SIZE_LARGE: 24px;
$FONT_SIZE_XLARGE: 32px;

// base design value
$SPACER: 4px;
$BORDER_RADIUS: 8px;
$BOX_SHADOW: 0 0 4px 0 $COLOR_STONE_800;
